<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Paynamics SDK PHP Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
